# Ignore data/, tmp/, cache/ and pagecache/
data
tmp
cache
pagecache

# Eclipse project files
.settings
.buildpath
.project

# phpstorm
.idea/

# grunt
node_modules/

# packagist
composer.lock
src/vendor

# bower
themes/common/lib